<mat-card class="example-card" style="width: 100%;">
  <mat-card-header>
    <mat-card-title style="color: rgb(64, 178, 212);"><mat-icon>business</mat-icon>Custome App</mat-card-title>
   <mat-card-subtitle>Allways Positiveness</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <nav class="menus" >
      <span  class="spacer">
      <a class="pull-right" routerLink="/home"><mat-icon>dashboard</mat-icon><b>Dashboard</b></a><br>
      <a class="pull-right" routerLink="/cust"><mat-icon>table</mat-icon><b>Customer Informations</b></a><br>
      <a class="pull-right" routerLink="/custom"><mat-icon>chrome_reader_mode</mat-icon><b>Custom Widget</b></a><br>
      <a class="pull-right" routerLink="/chart"><mat-icon>pie_chart</mat-icon><b>Chart</b></a>
               
  
    </span>
        </nav>  </mat-card-content>
